{% extends "food/base.html" %}

{% block body %}

{% for item in itemlist %}

    <div class= 'row mb-5'>

        <div class= "col-md-3 offset-md-2" >
            <img src="{{ item.item_image}}" height = '165px', width='230px'>
        </div>

        <div class='col-md-4'>

            <h3 style = "color: red; font-size: 1.5rem"> {{item.item_name}} </h3>

            <h5 style = "color: blue; font-size: 1.5rem; font-style:italic;"> {{item.item_desc | truncatewords:6}} </h5>

            <h3 style = "color: purple; font-size: 1.5rem;"> {{item.item_price}} </h3>

            <h6 style = 'font-style:italic'> Restaurant Owner: {{ item.rest_owner}} </h6>
            
            <h6 style ='font-style:italic'> Admin: {{ item.added_by }} </h6>

        </div>
        
        <div class='col-mb-3'>

            {% if user.is_authenticated %}
            
            <a href="{% url 'food:detail' item.id %}", class='btn btn-success'>
                Details
            </a>

            {% endif %}
            
        </div>
        
    </div>



    
{% endfor %}

{% endblock %}
