{% extends 'food/base.html' %}

{% block body %}

<div class="mt-5">

</div>

<!-- secondary -->
{% if user.is_authenticated %}
    {% if user.profile.user_type == 'rest' or user.profile.user_type == 'cust' or user.profile.user_type == 'admin' %}
        {% for obj in opo %}
            <div class="row mb-1">
                <div class="col-md-8 offset-md-2 bg-secondary text-white">
                    <div class="row">
                        <div class="col-md-3 text-left">{{ obj.order_id }}</div>
                        <div class="col-md-3 text-left">{{ obj.prod_code }}</div>
                        <div class="col-md-3 text-left">{{ obj.quantity }}</div>
                        <div class="col-md-3 text-left">{{ obj.user }}</div>
                    </div>
                </div>

                <div class="col-md-2">

                </div>
            </div>
        {% endfor %}      
    {% endif %}
{% endif %}

{% endblock %}

